<div class="container">
    <h3 class="text-center">List of Submitted Requests!</h3>
    <table class="table table-striped" aria-describedby="mydesc">
        <thead class="table-dark">
            <tr>
              <th scope="col">ID</th>
              <th scope="col">CdsId</th>
              <th scope="col">Name</th>
              <th scope="col">App_Name</th>
              <th scope="col">Acc_Type</th>
              <th scope="col">S_CdsId</th>
              <th scope="col">purpose</th>
              <th scope="col">created_by</th>
              <th scope="col">Date</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let assesment of assesments;let id = index">
                <td>{{id+1}}</td>
              <td>{{ assesment.cdsid }}</td>
              <td>{{ assesment.name }}</td>
              <td>{{ assesment.applicationname }}</td>
              <td>{{ assesment.accesstype }}</td>
              <td>{{ assesment.supervisorcdsid }}</td>
              <td>{{ assesment.purpose }}</td>
              <td>{{ assesment.createdby }}</td>
              <td>{{ assesment.date }}</td>
            </tr>
          </tbody>
    </table>
</div>
